body{
	margin: 0px;
	font-family: "Monaco", monospace;
}

nav{
  width: 20%;
  float: left;
  background-image: linear-gradient(to bottom, #1673ff, #009bff, #00bcff, #00d8ff, #6af2ff);
  height: 100%;
  color: white;
}

main{
	width: 80%;
  	float: right;
}


nav > ul{
	list-style-type: none;
  	margin-bottom: 10px;
}

nav > header{
	text-align: center;
	font-size: 20px;
}



ul > li{
	padding: 10px;
	opacity:70%;
}


ul > li:hover{
  	opacity:100%;
  	font-size: 120%;
  	border-left: 2px solid white;
}

div > p{
	color: gray;
	font-size: 25px;
	font-weight: bold;
}


.main-container{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;
}



.search > input{
	width: 100%;
  	font-size:20px;
  	outline: 0;
  	border-width: 0 0 0.5px;
  	border-color: #ebebe0;
  	
}

.search > input:hover{
	border-width: 0 0 1.5px;
  	border-color: gray;

}


.quick-access{
	padding: 5px;
}

.one {
  float: left;
}

.two {
	float: left;
}
.three{
	float: left;
}

.recent-files{
	padding: 5px;
}

#recent{
	float: left;
}